.image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  box-shadow: var(--light-shadow);
  display: inline-flex;
  max-Width: "100%"
}
.qa-search {
  width: 100%;
  margin-top: 12px;
  font-size: 18px;
  outline: none;
  box-sizing: border-box;
  background-color: none;
  border-bottom: 1px solid #ccc;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.qa-underline {
  text-decoration: underline;
  cursor: pointer
  }
.a-photo {
  display: flex;
  align-items: center;
  margin: 20px 15px;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.question-container {
  margin-bottom: 12px!important;
  display: flex;
  justify-content: space-between
}
.question {
  margin-top: 20px;
  margin-bottom: 10px;
}
.question-Q {
  padding-top: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 17px;
  overflow-wrap: normal;
}
.question-body {
  padding-top: 20px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 17px;
  overflow-wrap: normal;
}
.question-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  font-weight: 300;
  font-size: 14px;
}
.question-helpful-continer {
  display: flex;
  justify-content: flex-end;
}
.question-helpful {
  display: inline-block;
  justify-content: space-between;
}
.question-form-popup {
  top: 0;
  left: 0;
  z-index: 150;
  margin: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  padding-top: 250px;
  background-color: rgba(0, 0, 0, 0.4);
}
.question-form-container {
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  max-width: 600px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
}
.question-modal-close-x {
  float: right;
  right: 5px;
  height: 20px;
  width: 40px;
  display: block;
  background-color: transparent;
  border-color: transparent;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  line-height: 0;
}
.question-textarea {
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  padding: 5px;
  width: 400px;
  height: 50px;
}
.submit-question-button {
  height:30px;
  width: 120px;
  border-radius: 8px;
  background: rgb(255, 216,20);
  box-shadow: none;
  align-items: center;
  display: block;
}
.answer {
line-height: 10px;
}
.answer-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.answer-A {
  font-weight: bold;
  font-size: 17px;
  overflow-wrap: normal;
}
.answer-body {
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 420;
  font-size: 17px;
  overflow-wrap: normal;
}
.answer-footer {
  display: flexi;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 14px;
}
.answer-helpfulness {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-top:10px;
  margin-left: 10px;
  margin-bottom: 10;
  font-size: 16px;
  justify-content: space-around;
}
.more-answers {
  color: purple;
  font-size: 15px;
  font-weight: normal;
  margin-left: 50px;
}
.add-question,
.more-questions {
  font-size: medium;
  height: 60px;
  width: 235px;
  padding: 10px;
  margin: 25px;
  cursor: pointer;
  transition: all ease 0.3s;
  float: left;
}

.answer-form-popup {
  top: 0;
  left: 0;
  z-index: 300;
  margin: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}
.answer-form-container {
  width: 60%;
  height: auto;
  margin: auto;
  display: flex;
  max-width: 600px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
}
.modal-label {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.answer-modal-close-x {
  float: right;
  right: 5px;
  height: 20px;
  width: 40px;
  display: block;
  background-color: transparent;
  border-color: transparent;
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
  position: relative;
  line-height: 0;
}
.question-email,
.question-name,
.answer-email,
.answer-name {
  padding: 10px;
  width: 200px;
}
.question-form ,
.answer-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
}
.answer-body {
  padding: 5px;
  width: 400px;
  height: 50px;
}
.question-header,
.answer-header {
  background-color: #F0F2F2;
  border-radius: 16px 16px 0 0;
  padding: 0 10px;
}
.submit-answer-button {
  height:30px;
  width: 100px;
  border-radius: 8px;
  background: rgb(255, 216,20);
  box-shadow: none;
  float: right;
  display: block;
}
/* .scrollbar {
  height: 100px;
  overflow: auto;
} */
