.graphs {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
}

.graphs:hover {
  cursor: pointer;
}

.starText {
  width: 55px;
  margin-left: 5px;
}

.bar {
  color: rgb(180, 56, 77);
  background-color: rgb(180, 56, 77);
  border: solid;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.greystuff {
  color: rgb(214, 214, 214);
  background-color: rgb(214, 214, 214);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.progress1 {
  color: rgb(214, 214, 214);
  z-index: 999;
  position: absolute;
  border-right: solid;
  border-right-width: 4px;
  border-right-color: black;

}

.greybar {
  color: rgb(214, 214, 214);
  background-color: rgb(214, 214, 214);
  position: absolute;
  z-index: 5;
}

.text1 {
  display: flex;
  flex-direction: row;
  color:rgb(0, 0, 0);
  z-index: 9999;
}

.text2 {
  display: flex;
  flex-direction: row-reverse;
}

.nums {
  background-color: black;
  z-index: 3000;
}
