.reviewsMain {
  display: flex;
  flex-direction: row;
  margin-top: 200px;
  margin-left: 500px;
  margin-bottom: 100px;
  height: 1200px;
}

.leftSide {
  order: 1;
  flex-direction: row;
  width: 300px;
  background-color: rgb(242, 241, 241);
  border-radius: 10px;
}

.reviewText {
  order:1;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 35px;
  margin-bottom: 70px;
}

.addReviewButton {
  background-color: black; /* Green */
  border: none;
  color: white;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  order: 2;
  margin-right: 0px;
  margin-left: 800px;
  margin-top: 20px;
}

.addReviewButton:hover {
  background-color: rgb(157, 225, 228);
  color: black;
}

.searchBar {
  padding: 0;
  height: 31px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0,0,0,.15);
  background-color: white;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 65px;
  margin-right: 65px;
}


.searchButton {
  background-color: black; /* Green */
  color: white;
  border-color: black;
  border-radius: 5px;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 85px;
  margin-right: 85px;
}

.searchButton:hover {
  background-color: rgb(157, 225, 228);
  color: black;
}

.rightSide {
  order: 2;
  flex-direction: row;
}

.showingText {
  margin-left: 70px;
}

.reviewBlock {
  margin-left: 50px;
  margin-right: 50px;
  width: 1000px;
  height: 1000px;
  overflow-y: auto;
}

.searchFilter {
  order: 1;
}

.eachReview {
  border-color: rgb(245, 245, 245);
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(236, 234, 234);
  margin-top: 20px;
  padding-top: 10px;
}

.summ {

  margin-left: 15px;
}

.full {
  margin-left: 15px;
}

.likeButton {
  margin-left: 15px;
}

.likeButton:hover {
  cursor: pointer;
}

.unlikeButton {
  margin-left: 15px;
}

.unlikeButton:hover {
  cursor: pointer;
}

.button-like:hover {
  background-color: white;
  color: black;
  border-color: white;
}

.button-yes {
  background-color: black; /* Green */
  color: white;
  border-color: black;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.button-no {
  background-color: black; /* Green */
  color: white;
  border-color: black;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.button-no:hover {
  background-color: white;
  color: black;
  border-color: white;
}

.button-yes:hover {
  background-color: white;
  color: black;
  border-color: white;
}

.showMore {
  background-color: #f0bfae;
  border: none;
  color: grey;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin-left: 500px;
  margin-top: 20px;
  border-radius: 5px;
  opacity: 0.6;
  transition: 0.3s;
}

.showMore:hover {
  opacity: 1
}


.goBack {
  background-color: #ec805d;
  border: none;
  color: grey;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin-left: 500px;
  margin-top: 20px;
  border-radius: 5px;
  opacity: 0.6;
  transition: 0.3s;
}

.goBack:hover {
  opacity: 3;
}

.dateOfReview {
  margin-left: 30px;
}

.reviewer {
  margin-left: 30px;
}

.eachReviewComponents {
  display: flex;
  flex-direction: row;
}

.fa-solid {
  color: #f42731;
}

.fa-heart {
  color: rgb(185, 185, 185);
  margin-left: 15px;
}

.fa-heart:hover {
  color: #f42731
}