button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: rgb(0, 0, 0);
}
.off {
  color: #ccc;
}

.star-rating {
  margin-top: 15px;
  margin-left: 30px;
}

.fa-star {
  color: grey
}