/* PRODUCT OVERVIEW */

.product-overview-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.style-circle-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
}

.card-style-circle.current {
  border: 2px solid;
  border-color: #ce4d12;
}

.product-overview-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.heart-button {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 2rem;
  margin-left: 1rem;
  color: #ce4d12;
  cursor: pointer;
}

.add-to-bag-wrapper {
  grid-column-start: span 2;
  display: flex;
  align-items: center;
  justify-content: start;
}

/* PRODUCT SLOGAN */

.slogan-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}